{% load twit_tags %}
<div class="row">
  <div class="col-1">
    <img
      src="{% get_avatar_url email=twit.user.email size=50 %}"
      class="user-image"
      alt="user image"
    >
  </div>
  <div class="col-11">
    <h5>
      <a href="{{ twit.user.get_absolute_url }}">
        {% if twit.user.first_name %}
          {{ twit.user.first_name }} {{ twit.user.last_name }}
        {% else %}
          {{ twit.user.username }}
        {% endif %}
      </a>
      &nbsp;
      <small>{{ twit.created_at|timesince }} ago</small>
      &nbsp;
      {% block edit_buttons %}
      {% endblock edit_buttons %}

    </h5>
    <h6>{{ twit.body }}</h6>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-11">
    {% if twit.image_url %}
      <img src="{{ twit.image_url }}">
    {% endif %}
  </div>
  <div class="col-1"></div>
</div>