{% extends "base.html" %}

{% block title %}Tweeter Feed{% endblock title %}

{% block content %}
  <h1>Tweeter Feed</h1>
  <div class="row">
    <div class="col-12">
      <a href="{% url "twit_new" %}" class="btn btn-primary btn-round float-end">
        <i class="bi-plus-circle"></i>
        New Twit
      </a>
    </div>
  </div>
  <br>
  {% for twit in twit_list %}
    <div class="twit-box">
      {% include 'partials/_twit_body_with_buttons.html' %}
      {% if twit.comments.exists %}
        <br>
        {% include 'partials/_comment.html' %}
      {% endif %}
      <br>
      {% include 'partials/_comment_buttons.html' %}
    </div>
  {% endfor %}
{% endblock content %}
